header nav a h2{
    font-family: 'Courier New', Courier, monospace;
}
header div div h1{
    font-family: 'Courier New', Courier, monospace;
}
header a.navbar-brand img{
    border-radius: 55px;
    box-shadow: 0 0 0 1.5px black;
}
main h2{
    border-bottom: 1.5px solid #aabeff;
    background-color: #aabeff;
    border-radius: 15px;
}
main div div div.card{
    border-color: #000000;
    box-shadow: 1px 1px #b6b6b6;
    box-sizing: border-box;
    max-width: 17rem;
}
main div div div.card img{
    border-bottom: 1px solid #000000;
    border-radius: inherit;
    box-shadow: 1px 1px #000000;
}
main div div div.card:hover{
    position: relative;
    left: 2px;
    bottom: 2px;
}
@media screen and (min-width: 767px) and (max-width: 950px){
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
}
@media screen and (min-width: 600px){
    header h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 768px){
    header h1{
        font-size: 4em;
    }
    header h2{
        font-size: 1.35em;
    }
}
@media screen and (max-width: 500px){
    header h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    header h1{
        font-size: 2.4em;
    }
}