html body{
    background-color: #FFFFFF;
}
header nav a h2{
    font-family: 'Courier New', Courier, monospace;
}
header div div h1{
    font-family: 'Courier New', Courier, monospace;
}
main h2.index{
    background-color: #93A4AF;
    border-radius: 15px;
}
.nav-pills .nav-item .nav-link:not(.active) {
    background-color: #50c5a4;
    color: #383737;
    border: 1.5px solid #1e362f;
}
.content{
  margin-right: 20%;
  margin-left: 4%;
  padding: 0 2%;
  border-right: 1.5px solid lightgray;
}
.sidebar{
  position: fixed;
  z-index: 1;
  top: 30%;
  right: 8%;
  padding: 10px;
  background-color: #222429a6;
}
.sidebar ul{
    list-style-type: none;
    padding-left: 0px;
    border-radius: 5px;
}
.sidebar ul li{
    display: block;
    padding-bottom: 5px 0;
    margin: 5px 0;
}
.sidebar ul a{
    color: #3B404F;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.35em;
    border-bottom: 1.5px solid black;
}
@media screen and (min-width: 767px) and (max-width: 950px){
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
}
@media screen and (min-width: 600px){
    header h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 768px){
    header h1{
        font-size: 4em;
    }
    header h2{
        font-size: 1.35em;
    }
}
@media screen and (max-width: 500px){
    header h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    header h1{
        font-size: 2.4em;
    }
}