html body{
    background-color: #EFEFEC;
    ;
}
header nav a h2{
    font-family: 'Courier New', Courier, monospace;
}
header div div h1{
    font-family: 'Courier New', Courier, monospace;
}
main h2.index{
    background-color: #93A4AF;
    border-radius: 15px;
}
main ul li a{
    font-size: 1.125em;
}
.nav-pills .nav-item .nav-link:not(.active) {
    background-color: #50c5a4;
    color: #383737;
    border: 1.5px solid #1e362f;
}
@media screen and (min-width: 767px) and (max-width: 950px){
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
    header nav div div a{
        padding:0 !important;
        margin: 0 !important;
    }
}
@media screen and (min-width: 600px){
    header h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 768px){
    header h1{
        font-size: 4em;
    }
    header h2{
        font-size: 1.35em;
    }
}
@media screen and (max-width: 500px){
    header h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px){
    header h1{
        font-size: 2.4em;
    }
}